@media (max-width:1920){
    .form-control{
        height: 55px;
        width: 440px;
        border: 2px solid #313131;
    }
}
@media (max-width:1485px) {
    .second__title{
        margin-left: 50px;
    }
}

@media (max-width:1465px) {
    .skitka__left{
        width: 500px;
        height: 370px;
    }
    .skitka__left img{
        width: 500px;
        height: 370px;
    }

    .skitka__right{
        width: 500px;
        height: 370px;
    }
    .right__top{
        width: 500px;
        height: 170px;
    }
    .right__top img{
        width: 500px;
        height: 170px;
    }
    .skitka__descr{
        font-size: 20px;
        line-height: 50px;
    }
    .skitka__descr2{
        font-size: 20px;
        line-height: 50px;
        bottom: -20px;
    }
    .right-bottom__left{
        width: 235px;
        height: 170px;
    }
    .right-bottom__left img{
        width: 235px;
        height: 170px;
    }
    .right-bottom__left::after{
        font-size: 15px;
        line-height: 40px;
        padding: 0px 2px;
    }
    .right-bottom__right{
        width: 235px;
        height: 170px;
    }
    .right-bottom__right img{
        width: 235px;
        height: 170px;
    }
    .right-bottom__right::after{
        font-size: 15px;
        line-height: 40px;
        padding: 0px 2px;
    }
    .skitka__descr-bottom{
        font-size: 20px;
        line-height: 22px;
    }
    .skitka__descr2-bottom{
        font-size: 20px;
        line-height: 25px;
    }
    .skitka__descr2-bottom2{
        font-size: 20px;
        line-height: 43px;
    }

}
@media (max-width:1400px) {
    .phone__cards{
        justify-content: center;
    }
    .phone__card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .second__title{
        text-align: center;
    }
    .ps-content__right img{
        width: 1000px;
    }
}

@media (max-width:1200){
    .nav__search{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .ps-content__right img{
        width: 950px;
    }
    .footer__logo{
        margin-right: 100px;
    }
}

@media (max-width:1080px) {
    .skitka__left{
        width: 400px;
        height: 296px;
    }
    .skitka__left img{
        width: 400px;
        height: 296px;
    }

    .skitka__right{
        width: 400px;
        height: 296px;
    }
    .right__top{
        width: 400px;
        height: 136px;
    }
    .right__top img{
        width: 400px;
        height: 136px;
    }
    
    .skitka__left::after{
        font-size: 12px;
        line-height: 25px;
        padding: 7px 5px;
    }
    .right__top::after{
        font-size: 12px;
        line-height: 25px;
        padding: 7px 5px;
    }
    .right-bottom__left::after{
        font-size: 12px;
        line-height: 25px;
        padding: 7px 5px;
    }
    .right-bottom__right::after{
        font-size: 12px;
        line-height: 25px;
        padding: 7px 5px;
    }
    .right-bottom__left{
        width: 188px;
        height: 136px;
    }
    .right-bottom__left img{
        width: 188px;
        height: 136px;
    }
    
    .right-bottom__right{
        width: 188px;
        height: 136px;
    }
    .right-bottom__right img{
        width: 188px;
        height: 136px;
    }
    
    .skitka__descr{
        font-size: 18px;
        line-height: 20px;
    }
    .skitka__descr2{
        font-size: 18px;
        line-height: 20px;
        bottom: -14px;
    }
    .skitka__descr-bottom{
        font-size: 14px;
        line-height: 17px;
    }
    .skitka__descr2-bottom{
        font-size: 15px;
        line-height: 7px;
    }
    .skitka__descr2-bottom2{
        font-size: 14px;
        line-height: 30px;
    }
    .ps-content__right img{
        width: 900px;
    }

    .footer__logo{
        margin-right: 50px;
    }
}


@media (max-width:1024px) {
    .form-control{
        height: 45px;
        width: 350px;
        border: 1px solid #313131 !important;
    }
    .phone__cards{
        flex-direction: column;
        align-items: center;
    }
    .phone__card{
        width: 300px;
    }
    .wrapperr{
        display: flex;
    }
    .absolute{
        left: auto;
    }

    .footer__logo{
        margin-right: 30px;
    }
    .wrapper{
        flex-direction: column;
    }
    .footer__title{
        text-align: center;
    }
    .wrap{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .footer__btn{
        margin-bottom: 20px;
    }
    .footer__input{
        margin-bottom: 20px;
    }
    .footer__list{
        justify-content: center;
    }
}


@media (max-width:992px) {
    .form-control{
        height: 40px;
        width: 250px;
    }
    .btn-outline-success span{
        display: none;
    }
    .btn-outline-success{
        width: 65px;
    }
    .ps-content__right img{
        display: none;
    }
    
}
@media (max-width:860px) {
    .skitka__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .skitka__left{
        margin-right: 0;
    }
}

@media (max-width:770px){
    .form-control{
        height: 30px;
        width: 150px;
    }
    .form-control::placeholder{
        display: none;
        color: white;
    }
    .btn-outline-success{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phone__cards{
        flex-direction: column;
        align-items: center;
    }
    .second__title{
        margin-left: 0;
    }
    
}


@media (max-width:575px) {
    .nav-item span{
        display: none;
    }
    .item__link i{
        margin-right: 0 !important;
    }
    .nav-link{
        padding: 8px 8px !important;
    }
    .wrapperr{
        display: inline;
    }
}